*{

    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
html{

    scroll-behavior: smooth;
}
.main{

    width: 100%;
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
    /* position: relative; */
    /* position: sticky; */
}
.navbar{

    width: 86%;
    display: flex;
    justify-content:space-between;
    margin: auto;
    padding: 15px 0;
    align-items: center;
    /* position: fixed; */
    background-color: rgb(219, 155, 95);
    
}
.navbar .logo{

    width: 100px;
    cursor: pointer;
    margin-top: -1%;
    margin-left: -2%;
}
ul{
    margin-top: -4%;
}
li{

    list-style: none;
    display: inline-block;
    padding: 10px 16px;
}
ul li a{
    
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    margin-top: -3%;
    color: darkslategray;
}
.navbar h3{

    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    margin-top: -3%;
    color: darkslategray;
    margin-left: -3%;
    
}
a{
    text-decoration: none;
}
ul li a:hover{

    color: orangered;
}
.info{

    margin-left: 7%;
    margin-top: 6%;
    text-align: center;
}
.info h1{

    font-size: 65px;
    color: black;
}
.info h3{

    font-size: 20px;
    letter-spacing: 1px;
    line-height: 24px;
    color: black;
    line-height: 50px;
}
span{

    color: orangered;
}
.main hr{

    color: lightgrey;
    margin-top: 400px;
}
.about h2{

    color: orangered;
    margin-left: -1%;
    margin-top: -5%;
}
.about h3{
    
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 40px;
    color: black;
    margin-top: 5%;
    
}
.about img{

    height: 40%;
    width: 30%;
}
.about{

    margin-left: 7%;
    margin-top: 6%;
}
.skillcontainer{

    margin-left: 30%;
    margin-top: 6%;
    align-items: center;
    justify-content: center;
    height: 30px;
}
.h2{

    color: orangered;
    margin-left: 80px;
    margin-top: 40px;
}
.skill{

    width: 50%;
    height: 7vh;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.skill h2{

    font-weight: 100;
    letter-spacing: 1px;
    margin-top: 40px;
    margin-bottom: 5px;
    color:black;
    font-size: 16px;
    width: 10px;
}
.progress-bar{

    background: gray;
    width: 800px;
    height: 10px;
    border-radius: 5px;
}
.progress-bar div{

    height: 10px;
    border-radius: 5px;
    width: 0%;
    background: red;
}
.progress-bar div span{

    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: yellowgreen;
    float: right;
    margin-top: -15px;
    margin-right: 20px;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
}
.progress-bar .html{

    height: 10px;
    border-radius: 5px;
    width: 86%;
    background: red;
}
.progress-bar .css{

    height: 10px;
    border-radius: 5px;
    width: 54%;
    background: red;
}
.progress-bar .c{

    height: 10px;
    border-radius: 5px;
    width: 80%;
    background: red;
}
.progress-bar .python{

    height: 10px;
    border-radius: 5px;
    width: 40%;
    background: red;
}  
.works h2{

    color: orangered;
    margin-left: 4%;
    margin-top: -6%;
}
.works img{

    width: 30%;
    height: 50%;
}
.works{

    margin-top: 200px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    color: black;
}
.contact{
    display: flex;
    justify-content: start;

    display: inline-block;
    height: 70%;
    width: 60%;
    align-items: center;
    /* background-color: aquamarine; */
    margin-left: 30%;
    margin-top: 20%;
    margin-bottom: 90px;

}
.frm{

    height: 20%;
    width: 20vh;
    margin-bottom: 30px;
    
}
.contact h2{

    color: orangered;
    margin-left: 5%;
    margin-top: -6%;
    margin-bottom: 15%;
    align-items: center;
}
.frm label{

    font-size: 20px;
    color: darkslategray;
}
.frm input{

    height: 30px;
    width: 500px;
}
.frm textarea{

    height: 200px;
    width: 500px;
}
.frm button{

    height: 30px;
    width: 150px;
    background-color: rgb(217, 122, 44);
    border-radius: 5px;
    margin-left: 100%;
}
.footer{

     width: 100%;
     height: 100px;
    display: flex;
    justify-content:space-between;
    margin-bottom: -10px;
    /* padding: 15px 0; */
    align-items: center;
    /* position: fixed; */
    background-color: rgb(188, 130, 76);
    cursor: pointer;
}
.footer li{

    margin-bottom: -40%;
}
.footer a{

    margin-right: 800px;
    margin-left: -30%;
}

      