
.div1{

    height: 500px;
    width: 400px;
    background-color: rgb(206, 133, 45);
    padding-left: 200px;
    padding-top: 300px;
    display: flex;
    align-items:end;
    justify-content: center;
}
.div2{

    height: 100px;
    width: 100px;
    border-radius: 50px;
    background-color: blueviolet;
   

}